<mat-card>
  <mat-card-header>
    New Demo Checkout
  </mat-card-header>
  <mat-card-content>
    <form fxLayout="column">
      <mat-form-field>
        <input matInput readonly placeholder="First Name" name="FName" [(ngModel)]='customer.firstname'>
      </mat-form-field>
      <mat-form-field>
        <input matInput readonly placeholder="Last Name" name="Lname" [(ngModel)]='customer.lastname'>
      </mat-form-field>
      <mat-form-field>
        <input matInput readonly placeholder="Phone Number" name="PhoneNumber" [(ngModel)]='customer.PhoneNum'>
      </mat-form-field>
      <mat-form-field>
        <input matInput readonly placeholder="Email" name="Email" [(ngModel)]='customer.email'>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="myDatepicker" [(ngModel)]='date' [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Make" name="Make" [(ngModel)]='make'>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Model" name="Model" [(ngModel)]='model'>
      </mat-form-field>
      <button mat-raised-button (click)="addAnotherRacket()">Add Another Racket</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="submitRent()">Rent</button>
  </mat-card-actions>

  <mat-list #rackets>
    <label>Currently Added Rackets: {{RacketsArray.length}}</label>
    <mat-list-item *ngFor="let rackets of RacketsArray">
      {{rackets}}
    </mat-list-item>
  </mat-list>

</mat-card>