<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="getCustomers()">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstname}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="phonenumber">
      <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.PhoneNum }} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>